body{
    background:url("https://cdn.vox-cdn.com/uploads/chorus_image/image/55832883/694348338.0.jpg");
    background-size: cover;
    margin:200px;
    font-family:Arial;
    color: black;
  }

#bio{
    background-color:black;
    color:white;
width:400px;
padding:10px;
}
.small{
    width:400px;
    border: 5px solid white;
    display:block
}
h1{
    width:400px;
    background-color:white;

}