.Products .card{
  width:250px;
  padding: 30px;
}

.Products {
  display:flex;
  flex-flow: row wrap;
}
#shoppingcartlist{
  min-height: 400px;
  
}
.pimage{
  max-height: 100px;
}
.prod_img{
  height:150px;
}
.card {
  min-height: 600px;
}
